.small {
  margin: 0;

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  a {
    text-decoration: none;

    color: inherit;
  }
}

.middle {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  a {
    text-decoration: none;

    color: inherit;
  }
}

.big {
  margin: 0;

  font-size: 20px;
  font-weight: 400;
  line-height: 28px;

  a {
    text-decoration: none;

    color: inherit;
  }
}
