:root {
  --red: #e31e24;
  --red-hover: #ca1f24;
  --black: #2b2a29;
  --black-hover: #161514;
  --background: #f2f3f4;
  --white: #f9f9f9;
  --gray: #938b8b;
  --card: #e6e6e6;
  --yellow: #f3cc3c;
}
